body {
  margin: 0px;
  background-image: url("image.png");
  font-family: "Baloo Paaji 2", cursive;
}

header {
  display: flex;
  justify-content: center;
  height: 10rem;
}

#logo {
  width: auto;
  height: 12rem;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: auto;
  margin: 0px;
  background-color: white;
  color: black;
  border-radius: 1.5rem;
}

figure img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 18rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-name {
  color: rgba(0, 53, 102, 1);
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}
button {
  font-family: "Baloo Paaji 2", cursive;
  border: 1px solid #9cfa89;
  color: #9cfa89;
  background-color: #02b1c8;
  cursor: pointer;
  margin: 10px 90px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
