body {
  margin: 0px;
  background-image: url("image.png");
  font-family: "Baloo Paaji 2", cursive;
}

header {
  display: flex;
  justify-content: center;
  height: 10rem;
}

#logo {
  width: auto;
  height: 12rem;
  text-align: center;
}

main,
#filter-container,
#number-of-results {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#filter-container {
  margin-bottom: 2em;
}

figure {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 18rem;
  margin: 0px;
  background-color: white;
  color: black;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 15rem;
  border-radius: 6px;
  height: 14rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 57px;
}

.character-name {
  color: rgba(0, 53, 102, 1);
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.status {
  height: 3px;
  width: 3px;
  margin: 15px 6px 0px 0px;
  border: solid;
  border-radius: 20px;
  font-size: x-large;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  transition: 0.5s;
}

aside {
  color: white;
}

#infoCharacter {
  gap: 5rem;
}

.information {
  font-size: 1.3em;
}

figure:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
  height: 25rem;
}

main figure:hover .information {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

main figure .information {
  position: relative;
  top: -51px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter {
  margin-right: 11em;
  margin-bottom: 2em;
  border-style: solid;
  border-radius: 8px;
  width: 4em;
  height: 3em;
  border-color: rgba(127, 250, 103, 1);
  background-color: rgba(2, 177, 200, 1);
  align-self: flex-end;
}

.categorie,
#inicio,
#sort, #statsButton {
  width: 18rem;
  height: 2.5rem;
  border-radius: 8px;
  font-family: "Baloo Paaji 2", cursive;
  color: #003566;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-color: rgba(127, 250, 103, 1);
}

.categorie:hover,
#inicio:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
}

#inicio,
#sort, #statsButton {
  color: white;
  background-color: rgba(37, 183, 9, 1);
}

#sort, #statsButton {
  width: 6rem;
}
#sort:hover, #statsButton:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
}

#number-of-results {
  color: white;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 0px;
}

#number-results {
  color: rgba(37, 183, 9, 1);
}

#search {
  padding: 7px;
  border-radius: 34px;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 27%;
  background-color: white;
}

.fa-regular{
  margin: 5px 10px;
  color: rgb(118, 118, 118);
}

#search-input {
  border: 0;
  appearance: none;
}

#search-input:focus {
  outline: none;
  width: 85%;
}

#search-input::placeholder {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .categorie {
    width: 7rem;
  }
  #search {
    width: 74%;
  }
}

#not-found,
#search-again {
  color: white;
  display: block;
}

#not-found {
  font-size: 4em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 0 rgba(127, 250, 103, 0.96),
    2px -2px 0 rgba(127, 250, 103, 0.96), -2px 2px 0 rgba(127, 250, 103, 0.96),
    -2px -2px 0 rgba(127, 250, 103, 0.96), 2px 0px 0 rgba(127, 250, 103, 0.96),
    0px 2px 0 rgba(127, 250, 103, 0.96), -2px 0px 0 rgba(127, 250, 103, 0.96),
    0px -2px 0 rgba(127, 250, 103, 0.96);
  margin: 0px;
  text-align: center;
}

#search-again {
  font-size: 2em;
  margin: 0px;
  text-align: center;
}

#not-found-container img {
  width: 20%;
  margin: auto;
  display: block;
  height: fit-content;
  text-align: center;
}

section p {
  color: white;
  font-size: 2em;
  text-align: center;
}
