body {
  background-image: url("image.png");
}

header {
  display: flex;
  justify-content: center;
}
#logo {
  width: 25rem;
  height: auto;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

figure {
  width: 300px;
  margin: 0px;
  background-color: white;
  color: black;
}

figcaption {
  display: flex;
  flex-direction: column;
}
button{
  font-family: 'Baloo Paaji 2', cursive;
	border: 1px solid #9CFA89;
	color: #9CFA89;
	background-color: #02B1C8;
	cursor: pointer;
	margin: 10px 90px;
	border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}